/* Write your CSS here */
/* Write your CSS here */
.light-theme {
  color: #171f46;
}
.dark-theme {
  color: #ffffff;
}
.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-theme-container {
  background-color: #000000;
}
.light-theme-container {
  background-color: #ffffff;
}
.not-found-image {
  width: 290px;
  height: 290px;
}
