/* Write your CSS here */
.light-theme {
  color: #171f46;
}
.dark-theme {
  color: #ffffff;
}
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-theme-container {
  background-color: #000000;
}
.light-theme-container {
  background-color: #ffffff;
}
.home-image {
  width: 200px;
  height: 200px;
}
